:root {
    --blue        : 77, 55, 255;
    --green       : 55, 255, 77;
    --red         : 255, 55, 77;
    --orange      : 255, 170, 77;
    --yellow      : 255, 255, 77;
    --black       : 0, 0, 0;
    --white       : 255, 255, 255;
    --black-light : 25, 25, 25;
    --white-dark  : 220, 220, 220;
    --gray-dark   : 70, 70, 70;
    --gray        : 120, 120, 120;
    --gray-light  : 170, 170, 170;
}